@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: white;
    width: 10%;
    box-shadow: 2px 0 4px rgba(0,0,0,0.5);
    transition: width .35s;
    height: 100vh;
    border-right: 4px solid black;
    color: black !important;
}

.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
    border-right: 0;
}
.content{
    position: absolute;
}
.content button {
    margin: 10px;
    background-color: black;
    border: none;
    border-radius: 2px;
}
.content button div {
    width: 20px;
    height: 3px;
    background-color: aliceblue;
    margin: 3px 0;
}

#head{
    display: block;
    justify-content: center;
    position: relative;
    top: 30px;
    text-align: center;
    height: 200px;
}

#head .logo {
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    padding-right: 15px;
    color: black;
}
img.logo {
    width: 150px;
    height: 120px;
}
.logo{
    width: auto;
}
.list {
    list-style: none;
    padding: 5px 0;
    color: black;
}

.list li{
    margin: 5px;
    padding: 5px 35px;
}

.list li:hover{
    border-radius: 5px;
    background-color: #7B61FF;
}

.list a{
    text-decoration: none;
    color: black;
}

.content-form {
    width: 90%;
    padding: 50px;
    margin-left: auto;
}

button.contact-us {
    float: right;
}
input, textarea {
    border: 1px solid #ccc;
}
#products_wrapper {
    border: 3px solid #f2f2f2;
    padding: 15px;
}
.modal-body {
    text-align: center;
}
button.close {
    background-color: black;
    border: none;
    border-radius: 50px;
    color: #e5e5e5;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.row-form small {
    color: red;
}
.row-form input {
    margin-bottom: 0px;
}
.row-form {
    margin-bottom: 10px;
    text-align: left;
}
form#product {
    text-align: left;
}
.show {
    display:block;
}
.hide {
    display:none;
}
.check_image img.avatar {
    display: block;
    margin-bottom: 15px;
}
button.delete {
    background-color: black;
    border: none;
    border-radius: 50px;
    color: #e5e5e5;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h4.delete-desc {
    margin-top: 1em;
    margin-bottom: 1em;
}