body{
    margin: 0;
}
.header-container{
    background-color: black;
}
.black-container{
    background-color: black;
}
.header {
    width: 80%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-size: 20px;
    justify-content: space-between;
}
.logo {
    width: 30%;
}
.logo img {
    height: 150px;
    width: 35%;
}
.menu {
    width: 50%;
    margin: auto;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 5%;
    color: white;
}
.banner {
    width: 100%;
}
img.c-image {
    width: 100%;
    height: 400px;
    border-radius: 10%;
}
.top-content {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 5%;
    gap: 10%;
}
.content-description {
    width: 50%;
    color: white;
}
.company {
  text-align: left !important;
}
.footer div {
  text-align: center;
}
.content-description h3 {
    font-size: 2.3em;
    margin: 0;
    margin-bottom: 15px;
}
.content-description p {
    font-size: 17px;
}
.content-image {
    width: 50%;
    text-align: center;
}
.header-content {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
}
.header-contact {
    color: black;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2em;
}
.background-wall{
    background: url("/images/wall.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a.more {
    background-color: #e5e5e5;
    border: none;
    border-radius: 50px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h2 {
    margin: 0;
    color: #5959FF;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 5rem;
  }
  
  form label{
    font-size: 1.2rem;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.5em;
    border: none;
    font-size: 1.2rem;
  }
  input[type="text"], input[type="email"], textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
  }
  
  textarea {
    height: 6em;
  }

  .contact-content {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 5%;
}
.details-content ul {
    list-style: none;
    margin: 0;
    line-height: 3; 
    padding: 0;
    font-size: 25px;
}
.social-content ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.contact-content .social {
    width: 50%;
    max-width: 400px;
    margin: auto;
}
.contact-content .form {
    width: 50%;
}
.details-content label {
    margin-left: 62px;
}
.details-content {
    border-bottom: black 1px solid;
    padding-bottom: 30px;
}
.social-content {
    padding-top: 5px;
}
.social-content a {
    color: black;
    font-size: 30px;
}
.details-content i {
    font-size: 30px;
    width: 40px;
}
.menu a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button.contact-us {
    background-color: black;
    border: none;
    border-radius: 50px;
    color: #e5e5e5;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.footer img.logo {
    width: 200px;
}
.footer-company-about span {
    font-size: 22px;
    display:block;
    margin-bottom: 15px
}
span.company-desc {
  font-size: 14px;
}
.right-footer {
    margin: auto;
    width: 20%;
    margin-right: 0;
}
.left-footer {
    display: block;
}
.footer {
    width: 80%;
    color: white;
    display: flex;
    margin: auto;
    font-size: 20px;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
}
.right-footer .social-content a {
    color: white;
}
.right-footer .social-content ul {
    margin: 0;
    padding-left: 0;
}
.footer-fixed{
    /* position: fixed; */
    left: 0;
    width: 100%;
}

.current {
    color: green;
  }
  
  #pagin li {
    display: inline-block;
  }
  
  .prev {
    cursor: pointer;
  }
  
  .next {
    cursor: pointer;
  }
  
  .last{
    cursor:pointer;
    margin-left:5px;
  }
  
  .first{
    cursor:pointer;
    margin-right:5px;
  }

  .pagination {
    left: 50%;
    height: 200p;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
}

small {
    display: block;
    color: red;
    margin-bottom: 15px;
}
#inquire input[type="text"], input[type="email"], textarea{
    margin-bottom: 0;
}
.thank-you-pop {
    text-align: center;
}
.close{
    background-color: black;
    border: none;
    border-radius: 50px;
    color: #e5e5e5;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.prod-name{
    font-size: 25px;
    font-weight: 600;
    color:black;
}


.preloaderBg {
    position: fixed;
  z-index: 10; 
  top: 0;
    background: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.preloader {
  margin: auto;
  background: url("/images/logo.jpg") no-repeat center;
  background-size: 155px;
  width: 155px;
  height: 150px;
  border-radius: 50%;
  margin-top: 300px
}


.preloader2 {
border: 5px solid #f3f3f3;
border-top: 5px solid black;
border-radius: 50%;
width: 250px;
height: 250px;
animation: spin 1s ease-in-out infinite ;
position: relative;
margin: auto;
top: -200px;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    padding: 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  nav {
    background: black;
    display:none;
}
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    background: black;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .hamburger-logo {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  img.h-logo {
    width: 60px;
}
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  .slider {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
}
.slider h1 {
    margin-bottom: 1.3em;
}
  .owl-carousel {
    width: 80% !important;
    margin: auto;
}
  .owl-carousel .owl-item img {
    width: 375px !important;
    height: 250px;
}
.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: black !important;
  }
  input#phone_number {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
}
.svg{
  width: 100px;
}
  @media (max-width:1750px) { 
    .header {
      font-size:16px;
  }
}
  @media (max-width:1500px) { 
    .owl-carousel .owl-item img {
      width: 300px !important;
  }
}
  @media (max-width:1250px) { 
    .contact-content {
        display: block;
    }
    .contact-content .form {
        width: 50%;
        margin: auto;
    }
}
@media (max-width:1000px) { 
    .content-description h3 {
        font-size: 1em;
    }
    .content-description p {
        font-size: 12px;
    }
    img.c-image {
        height: 250px;
    }
}

@media (max-width:750px) { 
    .header-container{
        display:none;
    }
    .owl-carousel .owl-item img {
      width: 250px !important;
      height: 250px;
  }
    .container, .container-sm{
        max-width: 100%;
        padding: 0;
    }
    nav {
        background: black;
        display:block !important;
    }
    .owl-carousel .owl-item img {
      width: 250px !important;
      height: 200px;
  }
}

@media (max-width:600px) { 
    .content-description h3 {
        font-size: 15px;
    }
    .logo {
        width: 100%;
    }
    .content-description p {
        font-size: 7px;
    }
    img.c-image {
        height: 140px;
    }
    a.more {
        padding: 5px 18px;
        font-size: 9px;
    }
    .contact-content .social {
        width: auto;
    }
    .details-content li {
        font-size: 17px;
    }
    .contact-content .form {
        width: 100%;
    }
    .footer {
        display: block;
    }
    .left-footer {
        text-align: center;
    }
    .right-footer {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width:414px) { 
    .top-content {
        width: 100%;
    }
}