.content-container-flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px;
    flex-flow: row wrap;
}
img.product {
    width: 100%;
    height: 300px;
}
.product-desc {
    width: 275px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.products {
    background: lightgray;
    padding: 20px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 50px 20px rgb(0 0 0 / 49%);
    margin: 15px;
    flex-grow: 1;
    width: 30%;
}
button.product-btn {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: #e5e5e5;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}
.product-desc span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}
.content-header h2 {
    color: black;
    margin-top: 50px;
}
.content-header {
    text-align: center;
}
.products:hover {
    box-shadow: 5px 5px 30px 20px rgb(0 0 0 / 65%);
}
.pop-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60% !important;
    height: 80% !important;
}
.overlay-bg{
    background: rgba(255, 255, 255, .5);
}
.content {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.left-content {
    width: 15%;
    padding: 50px;
}
.right-content {
    width: 60%;
}
.left-content ul li a {
    text-decoration: none;
    color: black;
}
.left-content ul li {
    list-style: none;
}
.left-content ul {
    padding-left: 0;
}
.left-content ul li a:hover {
    color: red;
}
.left-content ul li a:active {
    color: gray;
}

@media (max-width:1250px) { 
    .products {
        width: 50%;
    }
    .left-content ul li {
        font-size: 14px;
    }
}
@media (max-width:1000px) { 
    .products {
        width: 50%;
    }
    .left-content ul li {
        font-size: 14px;
    }
    .logo {
        width: 100%;
    }
}
@media (max-width:600px) { 
    .products {
        width: 50%;
    }
    .left-content ul li {
        font-size: 14px;
    }
    .left-content {
        padding: 30px;
        text-align: center;
    }
    .right-content {
        width: 100%;
    }
    .logo {
        width: 100%;
    }
    .content {
        display: block;
    }
    .left-content {
        width: 100%;
    }
    .footer {
        display: block;
    }
    .left-footer {
        text-align: center;
    }
    .right-footer {
        width: 100%;
        margin-top: 20px;
    }
    .container {
        margin: 0 !important;
    }
}
@media (max-width:414px) { 
    .products {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    img.product {
        height: 200px;
    }
    .prod-name {
        font-size: 18px;
    }
    .product-desc {
        font-size: 14px;
    }
    .product-desc span {
        font-size: 20px;
    }
}